# exclusions for KiCAD project
**.bak
**.kicad_sch.bak
**.kicad_prl
**.lck
**.wbk
pcb/ReceiverProto_kicad/ReceiverProto-backups/**

## exclusions for Vivado 
**.xpr 
**.runs/ 
**.cache/ 
**.jou 
**.log
