# exclusions for KiCAD project
**.bak
**.kicad_sch.bak
**.kicad_sch-bak
**.kicad_prl
**.lck
**.wbk
**.raw
pcb/ReceiverProto_kicad/ReceiverProto-backups/**
pcb/ReceiverProto_kicad/fp-info-cache

## exclusions for Vivado 
**.xpr 
**.runs/ 
**.cache/ 
**.jou 
**.log
fpga/XADC_DA2_vivado/**
